VITE_NETWORK_ID=undeployed
VITE_CONTRACT_ADDRESS=18f01de0d2cc727c3690f6bcc5f5cd0099a44414c4c90e62101e23c07c83e023
VITE_INDEXER_URI=http://localhost:8088/api/v1/graphql
VITE_INDEXER_WS_URI=ws://localhost:8088/api/v1/graphql/ws
VITE_PROVER_URI=http://localhost:6300
